.banner {
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Pretendard-Regular';
  letter-spacing: .2rem;
}

.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
}
