@forward './common/reset';
@forward './common/fonts';
@use './common/variables' as *;

:root {
  font-family: 'Pretendard';
  font-size: 62.5%;

  @media (min-width: 600px) {
    font-size: 87.5%;
  }
}
